<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>OAuth Callback</title>
  <script type="application/json" id="oauth-callback-data">
    <%= raw({
      type: @message_type || "GOOGLE_AUTH_ERROR",
      token: @token,
      user: @user_data,
      error: @error
    }.compact.to_json) %>
  </script>
  <script src="/oauth-callback.js"></script>
</head>
<body>
  <p>Processing authentication...</p>
</body>
</html>

